In [1]:
import pandas as pd
import numpy as np

In [2]:
df_test1 = pd.read_csv("datasets/original/CONV_DATA_SET_2_REV_1.csv", delimiter=";", header=0, skiprows=[1, 2])

In [3]:
df_test1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14401 entries, 0 to 14400
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PERIODO    14401 non-null  object
 1   LC2401     14401 non-null  float64
 2   LC2401SV   14401 non-null  int64
 3   LC2401MV   14401 non-null  float64
 4   ZI2403     14401 non-null  float64
 5   PDC2477    14401 non-null  float64
 6   PDC2477SV  14401 non-null  float64
 7   PDC2477MV  14401 non-null  int64
 8   FI24157    14401 non-null  float64
 9   FC24154    14401 non-null  float64
 10  PC2471     14401 non-null  float64
 11  PI2470     14401 non-null  float64
 12  TC2407     14401 non-null  float64
 13  TC2407SV   14401 non-null  float64
 14  TC2407MV   14401 non-null  float64
 15  TC2411     14401 non-null  float64
 16  FX2430SV   14401 non-null  float64
 17  CIRCCAT24  14401 non-null  float64
dtypes: float64(15), int64(2), object(1)
memory usage: 2.0+ MB

In [4]:
df_test1_faults = df_test1[(df_test1['LC2401'] > 6) | (df_test1['LC2401'] < 4)]

In [5]:
df_test1_faults

,PERIODO,LC2401,LC2401SV,LC2401MV,ZI2403,PDC2477,PDC2477SV,PDC2477MV,FI24157,FC24154,PC2471,PI2470,TC2407,TC2407SV,TC2407MV,TC2411,FX2430SV,CIRCCAT24
719,15/05/2011 11:59,6.187165,5,41.421471,41.049580,0.720817,0.4,100,9152.883789,997.836670,1.617564,1.273867,534.681763,534.558228,48.558750,250.294266,4537.524902,31.576838
1335,15/05/2011 22:15,6.193666,5,41.715836,41.200577,0.674332,0.4,100,9125.679688,1004.610901,1.619547,1.277296,534.441528,534.605835,48.739979,250.559815,4552.662109,31.631004
1422,15/05/2011 23:42,6.412030,5,42.784664,41.862389,0.617861,0.4,100,9092.121094,1005.623047,1.620270,1.299449,534.811951,534.645569,49.435570,250.209671,4530.175781,31.650082
1423,15/05/2011 23:43,7.844289,5,45.971382,41.861183,0.351488,0.4,100,9107.522461,1000.590393,1.620789,1.299865,534.563538,534.643616,49.487431,250.447235,4539.993164,31.650370
1424,15/05/2011 23:44,8.187556,5,47.323505,41.859978,0.325430,0.4,100,9122.922852,1004.393005,1.620664,1.300281,534.397888,534.638916,49.576611,250.550095,4536.802734,31.650660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13443,24/05/2011 08:03,7.841220,5,48.083702,44.128143,0.439353,0.4,100,8895.154297,1300.204468,1.610325,1.283317,533.953003,533.924561,49.697388,251.956192,4574.598145,31.011583
13444,24/05/2011 08:04,2.210964,5,44.783012,44.224480,0.638675,0.4,100,8895.151367,1301.167603,1.608475,1.283417,533.855896,533.922180,49.707329,252.023346,4564.280273,31.015743
13445,24/05/2011 08:05,2.371205,5,41.573292,44.201832,0.673972,0.4,100,8895.148438,1302.073486,1.607465,1.283517,533.543152,533.917603,49.811756,251.966736,4575.876953,31.019903
13446,24/05/2011 08:06,2.779308,5,41.703892,44.155071,0.704856,0.4,100,8895.146484,1300.723755,1.610599,1.283617,533.291626,533.913696,50.016376,251.898865,4588.894043,31.024063
13447,24/05/2011 08:07,3.537409,5,42.042366,44.108315,0.713264,0.4,100,8895.143555,1300.870239,1.613844,1.283718,533.577881,533.910522,50.126549,251.750961,4584.513672,31.028223

In [6]:
df_test2 = pd.read_csv("datasets/original/CONV_DATA_SET_3_REV_1.csv", delimiter=";", header=0, skiprows=[1, 2])

In [7]:
df_test2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12961 entries, 0 to 12960
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PERIODO    12961 non-null  object
 1   LC2401     12961 non-null  float64
 2   LC2401SV   12961 non-null  float64
 3   LC2401MV   12961 non-null  float64
 4   ZI2403     12961 non-null  float64
 5   PDC2477    12961 non-null  float64
 6   PDC2477SV  12961 non-null  float64
 7   PDC2477MV  12961 non-null  int64
 8   FI24157    12961 non-null  float64
 9   FC24154    12961 non-null  float64
 10  PC2471     12961 non-null  float64
 11  PI2470     12961 non-null  float64
 12  TC2407     12961 non-null  float64
 13  TC2407SV   12961 non-null  float64
 14  TC2407MV   12961 non-null  float64
 15  TC2411     12961 non-null  float64
 16  FX2430SV   12961 non-null  float64
 17  CIRCCAT24  12961 non-null  float64
dtypes: float64(16), int64(1), object(1)
memory usage: 1.8+ MB

In [8]:
df_test2_faults = df_test2[(df_test2['LC2401'] > 6) | (df_test2['LC2401'] < 4)]

In [9]:
df_test2_faults

,PERIODO,LC2401,LC2401SV,LC2401MV,ZI2403,PDC2477,PDC2477SV,PDC2477MV,FI24157,FC24154,PC2471,PI2470,TC2407,TC2407SV,TC2407MV,TC2411,FX2430SV,CIRCCAT24
650,01/04/2012 10:50,3.982439,5.038079,41.696983,41.536659,0.768973,0.4,100,9179.009766,1000.121277,1.509862,1.192606,538.525452,538.608521,44.612244,271.095642,4553.051758,31.111778
686,01/04/2012 11:26,3.649686,5.038079,40.032520,41.523327,0.815463,0.4,100,9189.871094,1001.438110,1.509398,1.190955,538.555481,538.550415,44.382195,270.855865,4542.948730,31.131227
943,01/04/2012 15:43,6.118585,5.038079,42.546574,42.291100,0.737473,0.4,100,9206.459961,1002.422485,1.508898,1.196701,538.429260,538.609192,45.352222,270.512543,4573.750977,31.267668
944,01/04/2012 15:44,8.036281,5.038079,45.449226,42.278698,0.533266,0.4,100,9206.377930,1001.301758,1.508317,1.197113,538.426453,538.601624,45.410461,270.387573,4573.655762,31.267488
945,01/04/2012 15:45,2.609216,5.038079,40.870575,42.266300,0.711840,0.4,100,9206.295898,1002.076721,1.508097,1.197524,538.402588,538.594971,45.422588,270.450562,4573.560547,31.267309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12607,09/04/2012 18:07,2.624392,5.038079,41.149113,43.886776,0.667695,0.4,100,9147.460938,1000.066833,1.505421,1.202345,538.135742,538.783142,46.374382,265.235748,4723.424316,44.752544
12840,09/04/2012 22:00,6.072597,5.038079,41.395084,41.790455,0.783695,0.4,100,9106.007813,999.617127,1.510468,1.209128,538.614380,538.683533,45.023827,264.591858,4728.319824,45.266800
12841,09/04/2012 22:01,6.345232,5.038079,42.116508,41.796139,0.690992,0.4,100,9132.655273,999.864746,1.509882,1.209183,538.568909,538.681580,45.049908,264.483215,4728.447266,45.269974
12842,09/04/2012 22:02,6.617867,5.038079,43.511612,41.801823,0.704497,0.4,100,9159.303711,998.745178,1.508751,1.209239,538.515503,538.682251,45.035690,264.488434,4728.574707,45.273148
12843,09/04/2012 22:03,3.607115,5.038079,40.543041,41.807510,0.723445,0.4,100,9177.125977,998.948914,1.509030,1.209294,538.335754,538.686218,45.100487,264.548737,4728.702148,45.276318

In [10]:
# df_test1_faults.to_csv('datasets/original/CONV_DATA_SET_2_REV_1_FAULTS.csv', index=False, sep=';')
# df_test2_faults.to_csv('datasets/original/CONV_DATA_SET_3_REV_1_FAULTS.csv', index=False, sep=';')